.Wrapper
  .container-login
    .QuoteCards
      - @quotes.each do |quote|
        = link_to new_quote_path, class: "badge badge-primary QuoteIcon" do
          .quote
            ”
        = link_to quote_path(quote), class: "quote" do
          .card
            .card-header
              = quote.citation
            .card-body
              %h4.card-title
                = quote.title
              %p.card-text.card-explanation
                = quote.explanation
              %hr/
              投稿者:
              = link_to user_path(quote.user.id) do
                = quote.user.nickname
                - if user_signed_in? && current_user != quote.user
                  - if quote.user.followed_by?(current_user)
                    = link_to user_relationships_path(quote.user.id), method: :delete, class: "quote" do
                      %button.btn.btn-primary.FollowBtn{:type => "button"} フォロー中
                  - else
                    = link_to user_relationships_path(quote.user.id), method: :post, class: "quote" do
                      %button.btn.btn-outline-primary.FollowBtn{:type => "button"} フォローする
              %hr/
              - if user_signed_in?
                .favorite-count
                  - if quote.favorited_by?(current_user)
                    = link_to quote_favorites_path(quote.id), method: :delete, class: "quote", data: { confirm: "#{quote.user.niciname}さんのフォローを解除" } do
                      ❤︎
                    = quote.favorites.count
                  - else
                    = link_to quote_favorites_path(quote.id), method: :post, class: "quote" do
                      ♡
                    = quote.favorites.count



