.Wrapper
  .container-login
    %h4 New Quote
    = form_with model: @quote do |f|
      .form-group
        = f.label :言葉
        = f.text_area :title, autofocus: true, autocomplete: 'title', class: 'form-control', required: true
      .form-group
        = f.label :発言者or出典
        = f.text_field :citation, autocomplete: 'current-citation', class: 'form-control', required: true
      .form-group
        = f.label :解説やハッシュタグ
        = f.text_area :explanation, autocomplete: 'current-explanation', class: 'form-control', required: true
      .space
      .form-group
        = f.submit 'POST', class: 'btn btn-primary btn-block'