.Wrapper
  .container
    .SearchResults
      %h5
        = "「#{@keyword}」の検索結果"
      %h5
        = "ー#{@quotes.count}件"
    .QuoteCards
      - @quotes.each do |quote|
        = render partial: 'layouts/quotes-list', locals: { quote: quote}