.Wrapper
  .container-login
    .QuoteCards
      = render partial: 'layouts/quotes-list', locals: { quote: @quote}
    %br/
    .CommentBox
      %h6 コメント
      .card.CommentIndex
        .card-body
          = render @comments
      %br/
      .FormBox
        = form_with model: [@quote, @comment], id: "new_comment" do |f|
          .form-group
            = f.text_area :text, autofocus: true, autocomplete: 'title', class: 'form-control', required: true
            = f.submit '>', class: 'btn-primary CommentSubmitBtn'