.Wrapper
  .container-login
    .QuoteCards
      .card
        .card-header
          = @quote.citation
        .card-body
          %h4.card-title
            = @quote.title
          %p.card-text
            = @quote.explanation.sub(/[#ï¼ƒ][\w\p{Han}ã-ãƒ¶ï½¦-ï¾Ÿãƒ¼]+/, '') 
            = render_with_tags(@quote.explanation)
          %hr/
          æŠ•ç¨¿è€…:
          = link_to user_path(@quote.user_id) do
            = @quote.user.nickname
            - if user_signed_in? && current_user != @quote.user
              - if @quote.user.followed_by?(current_user)
                = link_to user_relationships_path(@quote.user_id), method: :delete, class: "quote" do
                  %button.btn.btn-primary.FollowBtn{:type => "button"} ãƒ•ã‚©ãƒ­ãƒ¼ä¸­
              - else
                = link_to user_relationships_path(@quote.user_id), method: :post, class: "quote" do
                  %button.btn.btn-outline-primary.FollowBtn{:type => "button"} ãƒ•ã‚©ãƒ­ãƒ¼ã™ã‚‹
          %hr/
          .CountBox
            - if user_signed_in?
              .comment-count
                ðŸ’¬
                = @quote.comments.count
            - if user_signed_in?
              .favorite-count
                - if @quote.favorited_by?(current_user)
                  = link_to quote_favorites_path(@quote), method: :delete, class: "quote", data: { confirm: "#{@quote.user.niciname}ã•ã‚“ã®ãƒ•ã‚©ãƒ­ãƒ¼ã‚’è§£é™¤" } do
                    â¤ï¸Ž
                  = @quote.favorites.count
                - else
                  = link_to quote_favorites_path(@quote), method: :post, class: "quote" do
                    â™¡
                  = @quote.favorites.count
    %br/
    .CommentBox
      %h6 ã‚³ãƒ¡ãƒ³ãƒˆ
      .card.CommentIndex
        .card-body
          - @comments.each do |comment|
            %p
              = comment.user.nickname
              = comment.created_at
            %p  
              = comment.text
            %br/
      %br/
      .FormBox
        = form_with model: [@quote, @comment], id: "new_comment" do |f|
          .form-group
            = f.text_area :text, autofocus: true, autocomplete: 'title', class: 'form-control', required: true
            = f.submit '>', class: 'btn-primary CommentSubmitBtn'