.Wrapper
  .container
    - if params[:name] == nil
    - else
      %h6.tag-search-title
        =  "##{@tag.name} : #{@quote.count} 件"
      .QuoteCards
        - @quote.each do |quote|
          .BOX
            .block
              = quote.created_at.strftime("%Y/%m/%d")
            .block
              = render partial: 'layouts/quotes-list', locals: { quote: quote}


