.Wrapper
  .container-login
    - if params[:name] == nil
    - else
      %h6.tag-search-title
        =  "##{@tag.name} : #{@quote.count} 件"
      .flex-box
        - @quote.each do |quote|
          .post-image-index-post-box
            %p.index-post-box-top
              = quote.created_at.strftime("%Y/%m/%d")
            = render partial: 'layouts/quotes-list', locals: { quote: quote}


